* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html,
#root {
  height: 100%;
}

input,
button {
  font-family: inherit;
}

body {
  font-family: 'Times New Roman', sans-serif;
  font-weight: 400;
  background-image: url('../shared/assets/foto/fon_photo.png');
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

:focus,
:active {
  outline: none;
}
